.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.parameterName {
  font-weight: bold;
}
.parameterType .parameterAdditionalType {
  opacity: 0.7;
}
.parameterRequired {
  color: #3eaf7c;
  font-style: italic;
}
.parameterContent {
  margin-top: 10px;
}
.parameterDiscriminator .parameterExtras {
  margin-top: 10px;
}
.parameterEnum {
  margin-left: 10px;
}
.keepFormatting {
  white-space: pre-wrap;
}
