openapi: 3.0.1
info:
  title: Lune API Reference
  version: '1.0'
  contact:
    name: Lune Support
    email: support@lune.co
  termsOfService: https://lune.co/terms

  description: |
    # Quick start
    The Lune API makes it very easy to purchase carbon offsets:

    1. <a href="https://dashboard.lune.co/signup" target="_blank">Sign up</a> to Lune
    2. Validate your email
    3. <a href="https://dashboard.lune.co/api-keys" target="_blank">Get your API Key</a> from the dashboard

    then:

    ```
    curl https://api.lune.co/v1/orders/by-mass \
      -H 'Authorization: Bearer <API_KEY>' \
      -H 'Content-Type: application/json' \
      -X POST \
      -d '{"mass": { "amount": "100.510", "unit": "t"} }'
    ```

    You've just purchased 100.51 tonnes of Carbon Offsets!

    # Authentication
    The Lune API uses API Keys to authenticate requests.

    An API key corresponds to a specific account (a user can have access to multiple accounts, including test accounts, see the <a href="#section/Live-and-test-accounts">Live and test accounts section</a>).

    You can view and manage your keys from the Lune Dashboard.

    Please keep the keys secret.

    If a key is compromised you can delete and re-create a new one at any time.

    API keys are used as Bearer tokens included in the Authorization header.

    ```
    Authorization: Bearer <API_KEY>
    ```

    An API key is linked to a specific account but they can access all accounts that the organisation owning
    the API key has access to. This can be done using the `Lune-Account` header. Provide a different account
    ID in the header and that account will be used to perform the API call.

    # Content type

    It's assumed that the incoming requests contain `application/json` payloads, so you can either explicitly
    send the `Content-Type` header set to `application/json` or just skip the header altogether. Setting the
    header to a value different from `application/json` will result in an HTTP 415 Unsupported Media Type
    error.

    The responses are returned using JSON with the appropriate `Content-Type` value (`application/json`)
    unless specified otherwise.

    # Live and test accounts

    A user can have access to multiple accounts, in the simplest case there'll be one live account and one test account by default.

    Live accounts are the accounts through which you purchase real offsets and there'll be real money changing hands.

    Test accounts behave similarly (you can place orders, get quotes, fetch orders and activity),
    but there's no real money or real offsets involved. The purpose of test accounts is to be able
    to experiment with the API with no consequences.

    To better simulate the full order flow there's a process that'll credit your test account every once in a while (to bring the outstanding balance to zero, if there are any orders made) and go through the carbon credit retirement process for any orders needing it.

    Orders and acitivity belong to an account used to generate them, so if you make an order using live account A you won't see it on test account B's order list and vice versa.

    # Pagination
    All GET endpoints that return an array of resources are paginated.

    Lune supports cursor-based pagination. This means that, to get all objects, you must paginate through the results by providing the last resource id as a *after* query parameter.

    Each result includes a *has_more* boolean field. If this is true, then the next page requested will return additional results.

    By default, each page returns 10 objects, however, by setting *limit* you can request up to 100 objects.

    # Rate limits
    A rate limit is in place to safeguard against traffic bursts and therefore ensure the API is stable.

    The default rate limit is currently set at **15 requests per second**.

    Requests made after exceeding the rate limit return responses with a 429 status code.

    If you require additional capacity, please get in touch.

    # Errors
    All error responses return conventional HTTP status codes.

    Additionally, the response's body includes all raised by Lune.

    Each error returns an *error_code* and a human readable *message*.

    *error_code*'s are useful to handle errors programmatically.

    # Order status and lifecycle
    Orders have statuses and follow a precise lifecycle.

    Please familiarise with the following:

    <img src="https://assets.lune.co/docs/order-status-transitions-same-bg.png" />

servers:
  - url: https://api.lune.co/v1
    description: Lune's REST API

tags:
  - name: Orders
    description: |
      Get a quote, create and fetch orders.
  - name: Projects
    description: Get projects and bundles
  - name: Emission estimates
    description: Estimate CO2 emissions (caused by shipping goods for example).
  - name: Offset links
    description: Provide your customers with links to fund a bundle of their choice.
  - name: Webhooks
    description: A way to get notified about order state changes.
  - name: Webhook Request
    description: |
      After creating a webhook you can listen to events that occur in your Lune Account. This enables you to react to these events. Think of a webhook as a way to get notifications of activity that happens in your account.

      API calls are a mechanism for *you*, the API client, to send requests to Lune (for example to place an
      order). Webhooks are a mechanism for Lune to send notifications to you, right when a relevant event happens,
      without you having to repeatedly call the API and ask for the information (which is wasteful in terms
      of resources).

      Currently, webhooks events are limited to order status changes that changes in your account (an event is generated whenever an order status changes).

      Your webhook endpoint has to respond with a 2xx HTTP status code within 30 seconds. If we don't get a 2xx status code or the request times out we will treat is as failure and try to resend it with a delay.

      The events sent to the webhook endpoint are batched – we send multiple events in a single request.
      There's a limit to the number of events we send at once, if there are more events waiting to be sent
      we only send a number of the oldest ones.

      # Delivery guarantees

      * Events are always delivered in the order they happened from the point of view of Lune's systems.
        The order may not be obvious when multiple actions are performed concurrently (for example when
        you place multiple orders at the same time you can't know which order will generate events first).
      * Particularly, order events corresponding to one order are always delivered in the order
        consistent with the transitions described in the "Order status and lifecycle" documentation section.
      * Events are always delivered in the same order (this concerns retries).
      * Events are delivered at least once – they may be tried to be delivered multiple times
        if there were earlier attemps that failed (either because of a communication error or a non-2xx HTTP
        status code). If you endpoint responds with a 2xx status code there's no guarantee that the response
        will be registered by Lune's systems – the response may be lost in transit.
      * Lune only attempts one request to your webhook endpoint at a time. There are some caveats:

        * If we successfully manage to send a request but the communication is interrupted before we get
          a response we have no way to know if the request reached your webhook endpoint.
        * If the 30 second timeout is reached we abandon the request on our side but we have no way
          of ensuring that the processing of the request on your side isn't continuing.

        With that in mind, if you depend on there being strictly one and only one webhook request being
        processed at any given time it's your responsibility to ensure that.

      # Idempotency
      It is necessary to handle the same events being delivered multiple times (for the reasons mentioned
      above). This is achieved by keeping track of already processed `event_id`s – if you see the same
      `event_id` again you know you can ignore the event it corresponds to. Alternatively, you can keep
      track of the events `sequence`s – this string value is guaranteed to be monotonically increasing and
      you can use it as a last processed event marker. If you stored `B` as last processed event sequence
      value and you receive a re-delivered event with sequence `A` that contains a value lexicographically
      "smaller" than `B` then you know you can ignore the event.

      # Payload authentication and integrity
      [HMAC](https://en.wikipedia.org/wiki/HMAC) is a security measure which allows you to verify the
      integrity and authenticity of the data you’re receiving. Every request we make to your webhook
      endpoint has a header `Lune-HMAC` set. The header has to be used to validate the integrity and
      authenticity of the payload, which ensures that the request actually comes from Lune and no one has
      tampered with it.

      The header has the following format:

      ```
      timestamp=TIMESTAMP,account=ACCOUNT_ID,v1=HMAC_VALUE,...
      ```

      Where:
      * `TIMESTAMP` is the current [Unix epoch](https://en.wikipedia.org/wiki/Unix_time). It is used to
      verify the message has an acceptable age.
      * `ACCOUNT_ID` is the account id associated with the webhook. It can be used to distinguish multiple
      webhooks pointed to the same URL.
      * `HMAC_VALUE` is the value calculated in the following way:

      ```
      HMAC-256(SECRET, TIMESTAMP + "." + BODY)
      ```

      * `HMAC-256` is the HMAC version using the SHA-256 hashing algorithm
      * `SECRET` is a per-webhook secret generated when the webhook is created. The secret can be
        regenerated and fetched from the API.
      * `BODY` is the body of the incoming request

      Lune reserves the right to send multiple `v1=...` blocks in the header (in case there are multiple
      secrets active) and your code has to handle that.

      To verify the integrity and authenticity of the request you have to follow these steps\:
      * (Optional) Determine which webhook is sending you data and select the appropriate `SECRET` by
      extracting the account from the header (`ACCOUNT_ID` referrenced above)
      * Extract the timestamp from the header (we call it `TIMESTAMP` from now on)
      * Verify that the `TIMESTAMP` is no more than two minutes in the past (this ensures that you don't
        try to process old requests). If the `TIMESTAMP` is too old you should reject the request with
        a non-2xx status code.
      * Calculate `YOUR_HMAC = HMAC-256(SECRET, TIMESTAMP + "." + BODY)
      * Verify that the header contains an `v1=...` block with value equal to your `YOUR_HMAC` value.

      An HTTP request with missing or malformed `Lune-HMAC` header or for which the HMAC verification
      fails (the calculated HMAC does not match any of the HMACs in the `Lune-HMAC` header) must not be
      processed in any way (no action to be performed based on the payload) and must be rejected by
      returning a non-2xx HTTP status code.

      # A mock webhook Request
      The request itself consist of two headers and the payload. One of the headers is the previously mentioned HMAC header, the other is the *Content-Type* which is *application/json*.

      For testing purposes, if you want to produce an example request, this can be simulated with
      ```
      curl <WEBHOOK_URL> \
        -H 'Lune-HMAC: <THE_HEADER_VALUE>' \
        -H 'Content-Type: application/json' \
        -X POST \
        -d '{"events":[{"event_type":"order.received", "event_id": 1, "data": {"type": "quantity", "requested_quantity": "1000", "id": "va1BER4JZqnzPkYxJgALg0GeQDoXlWO5", "status": "received","currency": "GBP","created_at": "1985-04-12T23:20:50.52Z","metadata": {}}, "api_version": "v1"},{"event_type": "order.placed”, "event_id": 2, "data": {"type": "quantity", "requested_quantity": "1000", "id": "va1BER4JZqnzPkYxJgALg0GeQDoXlWO5", "status": "received","currency": "GBP","created_at": "1985-04-12T23:20:50.52Z","metadata": {}}, "api_version": "v1"}]}'
      ```

      where `WEBHOOK_URL` is your webhook endpoint and `THE_HEADER_VALUE` of form `timestamp=...,v1=...`
      can be produced using the algorithm above.

      # Handling unknown event_types
      Lune may introduce events with new `event_type`s. Your code should ignore unknown `event_type`s
      to make sure it remains future-proof.

      # The payload format
      The `/WebhookRequest` mock endpoint documents the data format that the webhook endpoints should expect.

paths:
  /activity:
    get:
      summary: Get an account's activity
      operationId: getActivity
      security:
        - BearerAuth: []
      tags:
        - Activity
      parameters:
        - $ref: "#/components/parameters/LimitPagination"
        - $ref: "#/components/parameters/AfterPagination"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedActivity'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /accounts/me:
    get:
      summary: Get an account
      operationId: getAccount
      security:
        - BearerAuth: []
      tags:
        - Accounts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '400':
          $ref: '#/components/responses/BadRequest'
  /accounts/client:
    post:
      summary: Create a client account
      operationId: createClientAccount
      security:
        - BearerAuth: []
      tags:
        - Client Accounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateClientAccountRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientAccount'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    get:
      summary: List client accounts
      operationId: listClientAccounts
      security:
        - BearerAuth: []
      tags:
        - Client Accounts
      parameters:
        - $ref: "#/components/parameters/LimitPagination"
        - $ref: "#/components/parameters/AfterPagination"
        - name: type
          in: query
          description:
            Filter accounts based on type.
          schema:
            $ref: '#/components/schemas/AccountType'
        - name: name
          in: query
          description: |
            Filter accounts based on name (case insensitive).

            The value can appear at the beggining, middle or end on the actual account name.
          schema:
            type: string
            pattern: '^[a-zA-Z0-9_]{3,}$'
            example: 'Merchant_X'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedClientAccounts'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /accounts/client/{id}:
    put:
      summary: Update a client account
      operationId: updateClientAccount
      security:
        - BearerAuth: []
      tags:
        - Client Accounts
      parameters:
        - name: id
          in: path
          required: true
          description: The account's unique identifier
          schema:
            type: string
            example: 'ljmkOq7vXd239gAE9WALWQ8ZGVD5ExNz'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAccountRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientAccount'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /accounts:
    post:
      summary: Create an account pair
      description: |
        Create a pair of live and test accounts. The accounts are linked via the `sibling_id` property.
      operationId: createAccountPair
      security:
        - BearerAuth: []
      tags:
        - Accounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccountRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountPair'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    get:
      summary: List accounts
      operationId: listAccounts
      security:
        - BearerAuth: []
      tags:
        - Accounts
      parameters:
        - $ref: "#/components/parameters/LimitPagination"
        - $ref: "#/components/parameters/AfterPagination"
        - name: type
          in: query
          description:
            Filter accounts based on type.
          schema:
            $ref: '#/components/schemas/AccountType'
        - name: name
          in: query
          description:
            Filter accounts based on name (case insensitive).

            The value can appear at the beggining, middle or end on the actual account name.
          schema:
            type: string
            pattern: '^[a-zA-Z0-9_]{3,}$'
            example: 'Merchant_X'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAccounts'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /accounts/{id}:
    put:
      summary: Update an account
      description: |
        Update an account. Live accounts will replicate a name change to its sibling account. Test accounts name updates are disallowed (name property must match the current account name).
      operationId: updateAccount
      security:
        - BearerAuth: []
      tags:
        - Accounts
      parameters:
        - name: id
          in: path
          required: true
          description: The account's unique identifier
          schema:
            type: string
            example: 'ljmkOq7vXd239gAE9WALWQ8ZGVD5ExNz'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAccountRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /analytics:
    get:
      summary: Get an account analytics
      operationId: getAnalytics
      security:
        - BearerAuth: [ ]
      tags:
        - Analytics
      parameters:
        - name: start
          in: query
          description:
            The start date of the custom date range.

            Defaults to 30 days ago if not specified.
          schema:
            type: string
            format: date
            example: '2019-01-01'
        - name: end
          in: query
          description:
            The end date of the custom date range.

            Defaults to the current date if not specified.
          schema:
            type: string
            format: date
            example: '2020-01-31'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Analytics'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /analytics/cumulative-per-bundle:
    get:
      summary: Get cumulative analytics
      operationId: getCumulativeAnalyticsPerBundle
      security:
        - BearerAuth: [ ]
      tags:
        - Analytics
      parameters:
        - name: from
          in: query
          description:
            The start date of the custom date range.

            Defaults to 30 days ago if not specified.
          schema:
            type: string
            format: date
            example: '2019-01-01'
        - name: through
          in: query
          description:
            The to (inclusive) date of the custom date range.

            Defaults to the current date if not specified.
          schema:
            type: string
            format: date
            example: '2020-01-31'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CumulativeBundleAnalytics'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /bundles:
    get:
      summary: List bundles
      operationId: listBundles
      security:
        - BearerAuth: []
      tags:
        - Projects
      parameters:
        - $ref: "#/components/parameters/LimitPagination"
        - $ref: "#/components/parameters/AfterPagination"
        - name: recently_disabled
          in: query
          description:
            When `recently_disabled` is set to true, the response will also include bundles which have been disabled in the last 30 days.
          schema:
            type: boolean
            default: false
            example: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedBundles'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /bundles/{id}:
    get:
      summary: Get a bundle
      operationId: getBundle
      security:
        - BearerAuth: []
      tags:
        - Projects
      parameters:
        - name: id
          in: path
          required: true
          description: The bundle's unique identifier
          schema:
            type: string
            example: 'ljmkOq7vXd239gAE9WALWQ8ZGVD5ExNz'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /projects:
    get:
      summary: List projects
      operationId: listProjects
      security:
        - BearerAuth: []
      tags:
        - Projects
      parameters:
        - $ref: "#/components/parameters/LimitPagination"
        - $ref: "#/components/parameters/AfterPagination"
        - name: recently_disabled
          in: query
          description:
            When `recently_disabled` is set to true, the response will also include projects which have been disabled in the last 30 days.
          schema:
            type: boolean
            default: false
            example: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedProjects'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /projects/{id}:
    get:
      summary: Get a project
      operationId: getProject
      security:
        - BearerAuth: []
      tags:
        - Projects
      parameters:
        - name: id
          in: path
          required: true
          description: The project's unique identifier
          schema:
            type: string
            example: 1vE213P96LbXNap56NAqVoM7knOedQg4
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /projects/by-slug/{slug}:
    get:
      summary: Get a project by slug
      operationId: getProjectBySlug
      security:
        - BearerAuth: []
      tags:
        - Projects
      parameters:
        - name: slug
          in: path
          required: true
          description: The project's unique slug
          schema:
            type: string
            example: 'alto-mayo'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /orders/by-mass:
    post:
      summary: Create an order by mass
      operationId: createOrderByMass
      security:
        - BearerAuth: []
      tags:
        - Orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderByQuantityRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderByQuantity'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /orders/by-value:
    post:
      summary: Create an order by value
      operationId: createOrderByValue
      security:
        - BearerAuth: []
      tags:
        - Orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderByValueRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderByValue'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /orders/by-estimate:
    post:
      summary: Create an order by estimate id
      operationId: createOrderByEstimate
      security:
        - BearerAuth: []
      tags:
        - Orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderByEstimateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderByEstimate'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /orders:
    get:
      summary: List orders
      description:  Returns the account's paginated orders in reverse order (most recent first).
      operationId: listOrders
      security:
        - BearerAuth: []
      tags:
        - Orders
      parameters:
        - $ref: "#/components/parameters/LimitPagination"
        - $ref: "#/components/parameters/AfterPagination"
        - name: offset_link_id
          in: query
          description: |
            Filter orders by offset_link_id.

            If offset_link_id is set, the response will only include orders belonging to the particular offset link.
          schema:
            type: string
            example: ke56XR3wK72raAe6ZPyEDQzgWldPBO41
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedOrders'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /orders/{id}:
    get:
      summary: Get an order
      operationId: getOrder
      security:
        - BearerAuth: []
      tags:
        - Orders
      parameters:
        - name: id
          in: path
          required: true
          description: The order's unique identifier
          schema:
            type: string
            example: 'ljmkOq7vXd239gAE9WALWQ8ZGVD5ExNz'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /orders/{id}/certificate:
    get:
      summary: Get a carbon offset certificate
      operationId: getOrderCertificate
      security:
        - BearerAuth: []
        - AccessToken: []
      tags:
        - Orders
      parameters:
        - name: id
          in: path
          required: true
          description: The order's unique identifier
          schema:
            type: string
            example: 'ljmkOq7vXd239gAE9WALWQ8ZGVD5ExNz'
      responses:
        '200':
          description: OK
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /orders/by-idempotency-key/{idempotencyKey}:
    get:
      summary: Get an order by idempotency key
      operationId: getOrderByIdempotencyKey
      security:
        - BearerAuth: []
      tags:
        - Orders
      parameters:
        - name: idempotencyKey
          in: path
          required: true
          description: |
            The order's idempotency key.

            Order idempotency keys must be unique per account.
          schema:
            type: string
            example: 'sg5knd2'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /orders/by-mass/quote:
    post:
      summary: Calculate an order quote by mass
      description: |
        This endpoint does not create an order.

        It processes the order as if it were placed, returning estimated cost and bundles allocations.
      operationId: getOrderQuoteByMass
      security:
        - BearerAuth: []
      tags:
        - Orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderQuoteByQuantityRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderQuoteByQuantity'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /orders/by-value/quote:
    post:
      summary: Calculate an order quote by value
      description: |
        This endpoint does not create an order.

        It processes the order as if it were placed, returning estimated cost and bundles allocations.
      operationId: getOrderQuoteByValue
      security:
        - BearerAuth: []
      tags:
        - Orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderQuoteByValueRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderQuoteByValue'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /bundle-selections:
    get:
      summary: Get an account's bundle selection
      operationId: getBundleSelection
      security:
        - BearerAuth: []
      tags:
        - Bundle selections
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BundleSelection'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    put:
      summary: Update an account's bundle selection
      operationId: updateBundleSelection
      security:
        - BearerAuth: []
      tags:
        - Bundle selections
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BundleSelectionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BundleSelection'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /bundle-mixes:
    get:
      summary: List all bundle mixes
      operationId: listAllBundleMixes
      security:
        - BearerAuth: []
      tags:
        - Bundle mixes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BundleMix'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /estimates/electricity:
    post:
      summary: Create an electricity emission estimate
      description: Estimate emissions produced by electricity consumption.
      operationId: createElectricityEstimate
      security:
        - BearerAuth: []
      tags:
        - Emission estimates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ElectricityEstimateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmissionEstimateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /estimates/electricity/{id}:
    get:
      summary: Get an electricity emission estimate
      operationId: getElectricityEstimate
      security:
        - BearerAuth: []
      tags:
        - Emission estimates
      parameters:
        - name: id
          in: path
          required: true
          description: The estimate's unique identifier
          schema:
            type: string
            example: Vxg3b7MoBkrNQA328Rgpnvmw1J8a6Lqj
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmissionEstimateResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFoundWithErrors'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    put:
      summary: Update an electricity emission estimate
      description: Estimate emissions produced by electricity consumption.
      operationId: updateElectricityEstimate
      security:
        - BearerAuth: []
      tags:
        - Emission estimates
      parameters:
        - name: id
          in: path
          required: true
          description: The estimate's unique identifier
          schema:
            type: string
            example: Vxg3b7MoBkrNQA328Rgpnvmw1J8a6Lqj
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ElectricityEstimateRequest'
      responses:
        '200':
          description: |
            Estimation updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmissionEstimateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /estimates/flight:
    post:
      summary: Create a flight emission estimate
      description: Estimate emissions produced by passengers in a commercial airflight.
      operationId: createFlightEstimate
      security:
        - BearerAuth: []
      tags:
        - Emission estimates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FlightEstimateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmissionEstimateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /estimates/shipping:
    post:
      summary: Create a shipping emission estimate
      operationId: createShippingEstimate
      security:
        - BearerAuth: []
      tags:
        - Emission estimates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShippingEstimateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleShippingEmissionEstimate'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /estimates/shipping/{id}:
    get:
      summary: Get a shipping emission estimate
      operationId: getShippingEstimate
      security:
        - BearerAuth: []
      tags:
        - Emission estimates
      parameters:
        - name: id
          in: path
          required: true
          description: The estimate's unique identifier
          schema:
            type: string
            example: Vxg3b7MoBkrNQA328Rgpnvmw1J8a6Lqj
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleShippingEmissionEstimate'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFoundWithErrors'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    put:
      summary: Update a shipping emission estimate
      operationId: updateShippingEstimate
      security:
        - BearerAuth: []
      tags:
        - Emission estimates
      parameters:
        - name: id
          in: path
          required: true
          description: The estimate's unique identifier
          schema:
            type: string
            example: Vxg3b7MoBkrNQA328Rgpnvmw1J8a6Lqj
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShippingEstimateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleShippingEmissionEstimate'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /estimates/shipping/multi-leg:
    post:
      summary: Create a multi-leg shipping emission estimate
      description: Each leg can be fulfilled by a different method, eg a truck, a plane or other options.
      operationId: createMultiLegShippingEstimate
      security:
        - BearerAuth: []
      tags:
        - Emission estimates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultiLegShippingEstimateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiLegShippingEmissionEstimate'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /estimates/shipping/multi-leg/{id}:
    get:
      summary: Get a multi-leg shipping emission estimate
      operationId: getMultiLegShippingEstimate
      security:
        - BearerAuth: []
      tags:
        - Emission estimates
      parameters:
        - name: id
          in: path
          required: true
          description: The estimate's unique identifier
          schema:
            type: string
            example: Vxg3b7MoBkrNQA328Rgpnvmw1J8a6Lqj
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiLegShippingEmissionEstimate'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFoundWithErrors'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    put:
      summary: Update a multi-leg shipping emission estimate
      operationId: updateMultiLegShippingEstimate
      security:
        - BearerAuth: []
      tags:
        - Emission estimates
      parameters:
        - name: id
          in: path
          required: true
          description: The estimate's unique identifier
          schema:
            type: string
            example: Vxg3b7MoBkrNQA328Rgpnvmw1J8a6Lqj
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultiLegShippingEstimateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiLegShippingEmissionEstimate'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /estimates/transactions:
    post:
      summary: Create a transaction emission estimate
      operationId: createTransactionEstimate
      security:
        - BearerAuth: []
      tags:
        - Emission estimates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionEstimateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmissionEstimateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /estimates/company:
    post:
      summary: Create a company emission estimate
      description: |
        Estimate emissions produced by a company. This includes office-related emissions,
        employee transportation, food, drinks, electronic equipment and computing/networking
        operations.

        The result is an estimate of a year-worth of company emissions.
      operationId: createCompanyEstimate
      security:
        - BearerAuth: []
      tags:
        - Emission estimates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyEstimateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyEmissionEstimate'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /estimates/individual:
    post:
      summary: Create an individual's emission estimate
      description: |
        Estimate emissions produced by an individual for a year. This includes travel emissions, food, drinks, energy and shopping activities.

        The result is an estimate of a year-worth of emissions.
      operationId: createIndividualEstimate
      security:
        - BearerAuth: []
      tags:
        - Emission estimates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IndividualEstimateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmissionEstimateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /offset-links/{id}:
    get:
      tags:
        - Offset links
      summary: Get an offset link
      operationId: getOffsetLink
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: The offset links's unique identifier
          schema:
            type: string
            example: 1vE213P96LbXNap56NAqVoM7knOedQg5
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OffsetLink'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    put:
      tags:
        - Offset links
      summary: Update an offset link
      operationId: updateOffsetLink
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: The offset links's unique identifier
          schema:
            type: string
            example: 1vE213P96LbXNap56NAqVoM7knOedQg5
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OffsetLinkUpdateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OffsetLink'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /offset-links:
    get:
      tags:
        - Offset links
      summary: List offset links
      operationId: listOffsetLinks
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/LimitPagination"
        - $ref: "#/components/parameters/AfterPagination"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedOffsetLinks'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      tags:
        - Offset links
      summary: Create an offset link
      operationId: createOffsetLink
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OffsetLinkRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OffsetLink'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /offset-links/{id}/analytics:
    get:
      tags:
        - Offset links
      summary: Get offset link's analytics
      operationId: getOffsetLinkAnalytics
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: The offset links's unique identifier
          schema:
            type: string
            example: 1vE213P96LbXNap56NAqVoM7knOedQg5
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OffsetLinkAnalytics'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /webhooks:
    get:
      tags:
        - Webhooks
      summary: List all webhooks
      operationId: listAllWebhooks
      security:
        - BearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Webhook'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      tags:
        - Webhooks
      summary: Create a webhook
      operationId: createWebhook
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /webhooks/{id}:
    get:
      tags:
        - Webhooks
      summary: Get a webhook
      operationId: getWebhook
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: The webhooks's unique identifier
          schema:
            type: string
            example: 'ljmkOq7vXd239gAE9WALWQ8ZGVD5ExNz'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    put:
      tags:
        - Webhooks
      summary: Update a webhook
      operationId: updateWebhook
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: The webhooks's unique identifier
          schema:
            type: string
            example: 'ljmkOq7vXd239gAE9WALWQ8ZGVD5ExNz'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWebhookRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      tags:
        - Webhooks
      summary: Delete a webhook
      operationId: deleteWebhook
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: The webhooks's unique identifier
          schema:
            type: string
            example: 'ljmkOq7vXd239gAE9WALWQ8ZGVD5ExNz'
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /webhooks/{id}/rotate-secret:
    put:
      tags:
        - Webhooks
      summary: Rotate a webhook secret
      description: |
        The existing secret will be invalidated immediately and subsequent webhook payloads will be
        accompanied by HMACs using the new secret.
      operationId: rotateWebhookSecret
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: The webhooks's unique identifier
          schema:
            type: string
            example: 'ljmkOq7vXd239gAE9WALWQ8ZGVD5ExNz'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /WebhookRequest:
    post:
      tags:
        - Webhook Request
      summary: Webhook request
      operationId: webhookRequest
      description: |
        The endpoint describes the request that you will receive in your webhook receiver and the responses the Lune webhook infrastructure expects.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookRequest'
      responses:
        '200':
          description: The events have been successfully handled. Any status code of the `2xx` format has the same behaviour. Any header or body are ignored by Lune.

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Authorization Bearer API Key (see <a href="#section/Authentication">Authentication</a>)
    AccessToken:
      type: apiKey
      in: query
      name: access_token
      description: |
        An API key used to access a resource that accepts it in the URL.

        Note: Lune API keys are not URL-safe, which means that they can't be included in URLs directly.
        They need to be percent-encoded using a function like JavaScript's [`encodeURIComponent()`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/encodeURIComponent) or
        Python's [`urllib.parse.quote()`](https://docs.python.org/3/library/urllib.parse.html#urllib.parse.quote).
  parameters:
    LimitPagination:
      name: limit
      in: query
      required: false
      description: |
        Maximum number of resources to return, between 1 and 100.
      schema:
        type: string
        pattern: '^\d+$'
        default: '10'
        example: '50'
    AfterPagination:
      name: after
      in: query
      required: false
      description: |
        A cursor for use in pagination.

        *after* is an object ID that defines your place in the list.

        For instance, if you make a list request and receive 100 objects, ending with *foo*, your subsequent call can include *after=foo* in order to fetch the next page of the list.
      schema:
        type: string
        example: 0vE213P96LbXNap56NAqVoM7knOedQg4
  responses:
    NotFound:
      description: The specified resource was not found
    NotFoundWithErrors:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    BadRequest:
      description: The request is invalid. Parameters may be missing or are invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    Unauthorized:
      description: The API Key is missing or is invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    TooManyRequests:
      description: Too many requests have been made in a short period of time
    Forbidden:
      description: The API Key is not authorized to perform the operation
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    Conflict:
      description: The request could not be completed due to a conflict with the current state of the target resource or resources
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    UnsupportedMediaType:
      description: The payload format is in an unsupported format.
    ServiceUnavailable:
      description: The service is temporarily unavailable. You may retry.
  schemas:
    ElectricityConsumption:
      type: object
      required:
        - amount
        - unit
      properties:
        amount:
          type: string
          pattern: '^[0-9]+(\.[0-9]+)?$'
          example: '40.501'
        unit:
          type: string
          enum:
            - kWh
            - MWh
            - GWh
          example: 'MWh'
          description: Unit, `kWh` for kilowatt-hours, `MWh` for megawatt-hours, `GWh` for gigawatt-hours
    Mass:
      type: object
      required:
        - amount
        - unit
      properties:
        amount:
          type: string
          pattern: '^[0-9]+(\.[0-9]+)?$'
          example: '40.501'
        unit:
          $ref: '#/components/schemas/MassUnit'
    MassUnit:
      type: string
      description: Unit, `t` for tonne, `kg` for kilogram, `g` for gram
      enum:
        - g
        - kg
        - t
      example: 't'
    Distance:
      type: object
      required:
        - amount
        - unit
      properties:
        amount:
          type: string
          pattern: '^[0-9]+(\.[0-9]+)?$'
          example: '40.501'
        unit:
          type: string
          enum:
            - km
            - mi
          example: 'km'
          description: Unit, `km` for kilometers, `mi` for miles
    Area:
      type: object
      required:
        - amount
        - unit
      properties:
        amount:
          type: string
          pattern: '^[0-9]+(\.[0-9]+)?$'
          example: '40.501'
        unit:
          type: string
          enum:
            - square_meters
            - square_feet
          example: 'square_meters'
    Errors:
      description: An error container
      type: object
      required:
        - errors
      properties:
        errors:
          type: array
          description: An array containing errors
          items:
            $ref: '#/components/schemas/Error'
    Error:
      type: object
      description: Individual error information
      required:
        - error_code
        - message
      properties:
        error_code:
          type: string
          description: Immutable string representing a specific error.
          example: account_suspended
          enum:
            - account_suspended
            - invalid_selected_account_id
            - bundle_selection_ratios_invalid
            - bundle_selection_bundle_invalid
            - order_idempotency_already_exists
            - order_quantity_invalid
            - bundle_id_invalid
            - id_invalid
            - test_account_name_update_disallowed
            - validation_error
            - bundle_selection_ratios_invalid_format
            - address_not_found
            - offset_link_constraint_required
            - offset_link_bundles_size_invalid
            - webhook_limit_reached
            - time_range_invalid
            - exchange_rate_not_found
            - live_account_required
            - unauthorised
            - estimate_not_found
            - estimate_order_already_placed
        message:
          type: string
          description: |
              Human readable error message.

              This value can contain some extra information about the error in
              human-readable form. Not suitable for programmatic consumption, the format
              is not guaranteed to be stable.
    OffsetValueSeriesItem:
      type: object
      required:
        - date
        - value
      properties:
        date:
          type: string
          format: date
          example: "2021-09-09"
        value:
          type: string
          example: '333.66'
          pattern: '^[0-9]+(\.[0-9]+)?$'
    OffsetQuantitySeriesItem:
      type: object
      required:
        - date
        - quantity
      properties:
        date:
            type: string
            format: date
            example: "2021-09-09"
        quantity:
          type: string
          example: '222.667'
          pattern: '^[0-9]+(\.[0-9]+)?$'
    OrderQuoteByQuantityRequest:
      type: object
      description: Order by Quantity details
      required:
        - mass
      properties:
        mass:
          description: Mass of CO2 offsets to purchase
          allOf:
            - $ref: '#/components/schemas/Mass'
        bundle_selection:
          $ref: '#/components/schemas/BundleSelectionRequest'
    CreateOrderByQuantityRequest:
      type: object
      description: Order by Quantity details
      required:
        - mass
      properties:
        mass:
          description: Mass of CO2 offsets to purchase
          allOf:
            - $ref: '#/components/schemas/Mass'
        idempotency_key:
          type: string
          maxLength: 100
          example: 5bd808a954e
          description: |
            Account-unique identifier provided by the client.

            `idempotency_key` has two purposes:
            1. Clients can safely retry order requests without accidentally performing the same operation twice. The current state of the original order is returned.
            2. Clients can use `idempotency_key` to reconcile orders with other entities on their system.
        bundle_selection:
          description: |
            Bundle selection to be used for the order.
            For the order, this property overrides the account's bundle selection.
          $ref: '#/components/schemas/BundleSelectionRequest'
        metadata:
          $ref: '#/components/schemas/Metadata'
        quantity_trunc:
          description: Selects to which precision to truncate the quantities assigned to each bundle.
          example: 't'
          $ref: '#/components/schemas/MassUnit'
    OrderQuoteByValueRequest:
      type: object
      required:
        - value
      properties:
        value:
          type: string
          pattern: '^[0-9]+(\.[0-9]+)?$'
          example: '7700.00'
          description: Maximum price of CO2 offsets to purchase (in the account's currency)
        bundle_selection:
          $ref: '#/components/schemas/BundleSelectionRequest'
        quantity_trunc:
          description: Selects to which precision to truncate the quantities assigned to each bundle.
          example: 't'
          $ref: '#/components/schemas/MassUnit'
    CreateOrderByValueRequest:
      type: object
      required:
        - value
      properties:
        value:
          type: string
          pattern: '^[0-9]+(\.[0-9]+)?$'
          example: '7700.00'
          description: Maximum price of CO2 offsets to purchase (in the account's currency)
        idempotency_key:
          type: string
          maxLength: 100
          example: 5bd808a954e
          description: |
            Account-unique identifier provided by the client.

            `idempotency_key` has two purposes:
            1. Clients can safely retry order requests without accidentally performing the same operation twice. The current state of the original order is returned.
            2. Clients can use `idempotency_key` to reconcile orders with other entities on their system.
        bundle_selection:
          description: |
            Bundle selection to be used for the order.
            For the order, this property overrides the account's bundle selection.
          $ref: '#/components/schemas/BundleSelectionRequest'
        metadata:
          $ref: '#/components/schemas/Metadata'
        quantity_trunc:
          description: Selects to which precision to truncate the quantities assigned to each bundle.
          example: 't'
          $ref: '#/components/schemas/MassUnit'
    CreateOrderByEstimateRequest:
      type: object
      required:
        - estimate_id
      properties:
        estimate_id:
          type: string
          description: The emission calculation unique identifier
          example: '90ng23MKvLqbkpMwMw7yMBD4wJQrV6O6'
        idempotency_key:
          type: string
          maxLength: 100
          example: 5bd808a954e
          description: |
            Account-unique identifier provided by the client.

            `idempotency_key` has two purposes:
            1. Clients can safely retry order requests without accidentally performing the same operation twice. The current state of the original order is returned.
            2. Clients can use `idempotency_key` to reconcile orders with other entities on their system.
        bundle_selection:
          $ref: '#/components/schemas/BundleSelectionRequest'
        metadata:
          $ref: '#/components/schemas/Metadata'
        quantity_trunc:
          description: Selects to which precision to truncate the quantities assigned to each bundle.
          example: 't'
          $ref: '#/components/schemas/MassUnit'
    BundleSelectionRequest:
      type: array
      description: |
        Bundle selection percentages.

        The sum of all percentages must equal 100.

        If not specified, the preconfigured allocation ratios are going to be used.

        If, for each selection, `percentage` is not provided, the selection is divided equally (best effort) between bundles. `percentage` must be provided for all or none of the bundles.
      items:
        $ref: '#/components/schemas/BundlePercentageRequest'
      example:
        - bundle_id: 'BmWxrvXo29eGqzA1qjANL5PwnkgaO8R3'
          percentage: 34
        - bundle_id: 'VndoQ0PZjGMzvYOZGwqy6kbgN1eOJx9B'
          percentage: 66
    BundlePercentageRequest:
      type: object
      description: Maps a bundle id to an allocation ratio
      required:
        - bundle_id
      properties:
        bundle_id:
          type: string
          example: 'BmWxrvXo29eGqzA1qjANL5PwnkgaO8R3'
          description: The bundle's unique identifier
        percentage:
          type: integer
          example: 43
          description: Selection percentage
    BundleSelection:
      type: array
      description: |
        Allocation ratios by bundle.

        The sum of all allocation ratios must equal 100.

        If not specified, the preconfigured allocation ratios are going to be used.
      items:
        $ref: '#/components/schemas/BundlePercentage'
      example:
        - bundle_id: 'BmWxrvXo29eGqzA1qjANL5PwnkgaO8R3'
          percentage: 34
        - bundle_id: 'VndoQ0PZjGMzvYOZGwqy6kbgN1eOJx9B'
          percentage: 66
    BundlePercentage:
      type: object
      description: Maps a bundle's unique identifier to an allocation ratio
      required:
        - bundle_id
        - percentage
      properties:
        bundle_id:
          type: string
          example: 'BmWxrvXo29eGqzA1qjANL5PwnkgaO8R3'
          description: The bundle's unique identifier
        percentage:
          type: integer
          example: 43
          description: Selection percentage
    BundleMix:
      type: object
      description: |
        Predefined bundle selections, for example following Oxford Offsetting Principles.
        Bundle selection for a particular Bundle mix may change over time.
      required:
        - id
        - identifier
        - label
        - bundle_selection
      properties:
        id:
          type: string
          description: Bundle mix unique identifier.
          example: 'A7hPO9C01RnzPkYxJgAHxq112roXlWO5'
        identifier:
          type: string
          description: Identifier of the bundle mix.
          example: 'oxford-offsetting-principles'
        label:
          type: string
          description: Human readable name of the bundle mix.
          example: 'Oxford Offseting Principles'
        bundle_selection:
          $ref: '#/components/schemas/BundleSelection'
    OrderBase:
      type: object
      description: Order object
      required:
        - id
        - type
        - status
        - currency
        - created_at
        - metadata
      properties:
        id:
          type: string
          description: The order's unique identifier
          example: va1BER4JZqnzPkYxJgALg0GeQDoXlWO5
        idempotency_key:
          type: string
          maxLength: 100
          example: 5bd808a954e
          description: |
            Account-unique identifier provided by the client.

            `idempotency_key` has two purposes:
            1. Clients can safely retry order requests without accidentally performing the same operation twice. The current state of the original order is returned.
            2. Clients can use `idempotency_key` to reconcile orders with other entities on their system.
        type:
          type: string
          description: Identifies whether the order has been placed by quantity (kg CO2) or value (monetary amount)
          example: quantity
          enum:
            - quantity
            - value
        status:
          type: string
          description: Order status
          example: complete
          enum:
            - received
            - placed
            - paid
            - retiring
            - cancelled
            - complete
            - failed
        currency:
          type: string
          description: Order currency code
          example: 'GBP'
        offset_cost:
          type: string
          description: |
            The net offset cost being purchased. May be lower than `requested_value`.

            This property is set when bundles are assigned to the order.
            Unit: order currency
          pattern: '^[0-9]+(\.[0-9]+)?$'
          example: '7176.00'
        total_cost:
          type: string
          description: |
            The total cost for the order inclusive of fees.

            Unit: order currency
          pattern: '^[0-9]+(\.[0-9]+)?$'
          example: '7696.00'
        commission:
          type: string
          description: |
            Lune's fee.

            This property is set when bundles are assigned to the order.
            Unit: order currency
          pattern: '^[0-9]+(\.[0-9]+)?$'
          example: '520.00'
        quantity:
          type: string
          pattern: '^[0-9]+(\.[0-9]+)?$'
          example: '1040'
          description: Quantity of CO2 offsets purchased in tonnes.
        created_at:
          type: string
          format: date-time
          description: Order creation timestamp
        bundles:
          type: array
          description: |
            bundles are set when the order's status is `placed`, `paid`, `retiring` or `complete`.

            The bundles associated with the order including their relative quantity and cost breakdown.
          items:
            $ref: '#/components/schemas/OrderBundle'
        projects:
          type: array
          description: |
            Projects are set when the order's status is `retiring` or `complete`.

            The projects associated with the order including their relative quantity and cost breakdown.

            Orders are placed against bundles, not projects. Projects in a bundle may change based on supply.

            This property is set as soon as we can guarantee project supply.

          items:
            $ref: '#/components/schemas/OrderProject'
          example:
            - quantity: '600'
              unit_price: '6.90'
              offset_cost: '4140.00'
              project_id: 'gMbvJoOaX54V1wpNaRY8dWDGQ7m239Bx'
              project_name: 'Madre De Dios'
              project_type: 'Forest Conservation'
              project_slug: 'madre-de-dios'
            - quantity: '440'
              unit_price: '6.90'
              offset_cost: '3036.00'
              project_id: 'xe1BEV2VZqnzPkYxJgALg0GeQDoXlWO5'
              project_name: 'Alto Mayo'
              project_type: 'Forest Conservation'
              project_slug: 'alto-mayo'
        certificate:
          type: string
          description: |
            Carbon credits certificate URL.

            This property is set when an order has state 'complete'

          example: 'https://api.lune.co/v1/orders/08QD7GPaBx5b6Y60ndAONXLvrZljRE2e/certificate'
        metadata:
          $ref: '#/components/schemas/Metadata'
        offset_link_id:
          type: string
          description: The offset link identifier, if the order was placed through an offset link
          example: 'UwjfkXjfksoHXzA1qjANL58GhjwqkxpB'
        email:
          type: string
          description: |
            End-user email.

            This property is currently populated on orders placed through offset links.
          example: 'john@doe.com'
    OrderByQuantity:
      title: Order by quantity
      allOf:
        - $ref: '#/components/schemas/OrderBase'
        - type: object
          required:
            - requested_quantity
          properties:
            requested_quantity:
              type: string
              pattern: '^[0-9]+(\.[0-9]+)?$'
              example: '1045'
              description: Requested quantity of CO2 offsets to purchase in tonnes.
    OrderByValue:
      title: Order by value
      allOf:
        - $ref: '#/components/schemas/OrderBase'
        - type: object
          required:
            - requested_value
          properties:
            requested_value:
              description: Requested value of CO2 offsets to purchase in the account's currency.
              type: string
              pattern: '^[0-9]+(\.[0-9]+)?$'
              example: '7700'
    OrderByEstimate:
      title: Order by emission estimate
      allOf:
        - $ref: '#/components/schemas/OrderBase'
        - type: object
          required:
            - estimate_id
          properties:
            estimate_id:
              type: string
              description: The emission calculation unique identifier
              example: '90ng23MKvLqbkpMwMw7yMBD4wJQrV6O6'
    Order:
      type: object
      oneOf:
          - $ref: '#/components/schemas/OrderByQuantity'
          - $ref: '#/components/schemas/OrderByValue'
      discriminator:
        propertyName: type
        mapping:
          quantity: '#/components/schemas/OrderByQuantity'
          value: '#/components/schemas/OrderByValue'
    OrderProject:
      type: object
      required:
        - project_id
        - project_name
        - project_type
        - project_slug
        - quantity
        - unit_price
        - offset_cost
      properties:
        project_id:
          type: string
          description: The project's unique identifier
          example: xe1BEV2VZqnzPkYxJgALg0GeQDoXlWO5
        project_name:
          type: string
          description: The project's name
          example: 'Alto Mayo'
        project_type:
          type: string
          description: The project's offset type, eg Forest conservation, Afforestation, Direct Air Capture
          example: 'Forest conservation'
        project_slug:
          type: string
          description: The project's unique slug
          example: 'alto-mayo'
        quantity:
          type: string
          pattern: '^[0-9]+(\.[0-9]+)?$'
          example: '1040'
          description: Carbon offset purchased (tonnes CO2)
        unit_price:
          type: string
          description: |
            Project unit price per tonne CO2

            Unit: order currency
          pattern: '^[0-9]+(\.[0-9]+)?$'
          example: '6.09'
        offset_cost:
          type: string
          description: |
            The net offset cost being purchased.

            Unit: order currency
          pattern: '^[0-9]+(\.[0-9]+)?$'
          example: '7176.00'
    OrderBundle:
      type: object
      required:
        - bundle_id
        - bundle_name
        - quantity
        - unit_price
        - gross_unit_price
        - offset_cost
      properties:
        bundle_id:
          type: string
          description: The bundle's unique identifier
          example: va1BEV2VZqnzPkYxJgALg0GeQDoXlWO5
        bundle_name:
          type: string
          description: The bundle's name
          example: 'Latin America Forestry'
        quantity:
          type: string
          pattern: '^[0-9]+(\.[0-9]+)?$'
          example: '1040'
          description: Quantity for the specific bundle (tonnes CO2)
        unit_price:
          type: string
          description: |
            Bundle unit price per tonne CO2

            Unit: order currency
          pattern: '^[0-9]+(\.[0-9]+)?$'
          example: '6.90'
        gross_unit_price:
          type: string
          description: |
            Bundle unit price per tonne CO2 inclusive of fees.

            Unit: order currency
          pattern: '^[0-9]+(\.[0-9]+)?$'
          example: '7.90'
        offset_cost:
          type: string
          description: |
            The bundle's net offset cost being purchased.

            Unit: order currency
          pattern: '^[0-9]+(\.[0-9]+)?$'
          example: '7176.00'
        insufficient_available_quantity:
          type: boolean
          description: |
            If true, there is no inventory necessary to fully satisfy the order for this bundle.

          example: true
    PaginatedBase:
      type: object
      required:
        - has_more
      properties:
        has_more:
          type: boolean
          description: Whether or not there are more elements available after this set. If false, this set comprises the end of the array.
    PaginatedOrders:
      allOf:
        - $ref: '#/components/schemas/PaginatedBase'
        - type: object
          required:
            - data
          properties:
            data:
              type: array
              description: Paginated Order objects ordered by creation date descending.
              items:
                $ref: '#/components/schemas/Order'
    OrderQuoteBase:
      type: object
      required:
        - currency
        - estimated_quantity
        - estimated_commission
        - estimated_offset_cost
        - estimated_total_cost
        - bundles
      properties:
        currency:
          type: string
          example: 'GBP'
          description: Currency code
        estimated_quantity:
          type: string
          pattern: '^[0-9]+(\.[0-9]+)?$'
          example: '1040'
          description: |
            Estimated quantity (tonnes CO2).

            May be lower than `requested_quantity`.
        estimated_offset_cost:
          type: string
          description: |
            Estimated offset cost

            Unit: order quote currency
          pattern: '^[0-9]+(\.[0-9]+)?$'
          example: '7176.00'
        estimated_total_cost:
          type: string
          description: |
            Estimated total cost inclusive of Lune fees.

            Unit: order quote currency
          pattern: '^[0-9]+(\.[0-9]+)?$'
          example: '7696.00'
        estimated_commission:
          type: string
          description: Estimated commission
          pattern: '^[0-9]+(\.[0-9]+)?$'
          example: '520.00'
        bundles:
          type: array
          description: |
            Bundles included in the quote including quantity and cost breakdown.
          items:
            $ref: '#/components/schemas/OrderBundle'
    OrderQuoteByQuantity:
      allOf:
        - $ref: '#/components/schemas/OrderQuoteBase'
        - type: object
          required:
            - requested_quantity
          properties:
            requested_quantity:
              type: string
              pattern: '^[0-9]+(\.[0-9]+)?$'
              example: '1045'
              description: |
                Requested quantity for the specific bundle (tonnes CO2).

                requested_quantity may be returned as part of an emission estimate response, in which case this property contains the equivalent value as the `mass` property.
    OrderQuoteByValue:
      allOf:
        - $ref: '#/components/schemas/OrderQuoteBase'
        - type: object
          required:
            - requested_value
          properties:
            requested_value:
              description: Requested order value inclusive of commission
              type: string
              pattern: '^[0-9]+(\.[0-9]+)?$'
              example: '7700'
    PaginatedBundles:
      allOf:
        - $ref: '#/components/schemas/PaginatedBase'
        - type: object
          required:
            - data
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/Bundle'
    BundleSummary:
      type: object
      required:
        - id
        - name
        - unit_price
        - gross_unit_price
        - currency
        - disabled
      properties:
        id:
          type: string
          example: 'BmWxrvXo29eGqzA1qjANL5PwnkgaO8R3'
          description: The bundle's unique identifier
        name:
          type: string
          description: The bundle's name
          example: 'Latin America Forestry'
        unit_price:
          type: string
          description: |
            Bundle unit price per tonne CO2
          pattern: '^[0-9]+(\.[0-9]+)?$'
          example: '6.09'
        gross_unit_price:
          type: string
          description: |
            Bundle unit price per tonne CO2 inclusive of fees
          pattern: '^[0-9]+(\.[0-9]+)?$'
          example: '7.09'
        currency:
          type: string
          example: 'GBP'
          description: Currency code
        background_colour:
          type: string
          description: A bundle's background colour in hexadecimal format
          example: '#AABBCC'
        primary_image:
          type: string
          description: A bundle's image URL
          example: 'https://assets.lune.co/bundles/latin-america-forestry.png'
        primary_image_hires:
          type: string
          description: A bundle's high resolution image URL
          example: 'https://assets.lune.co/bundles/latin-america-hires.jpg'
        small_thumbnail:
          type: string
          description: A bundle's small thumbnail image URL
          example: 'https://assets.lune.co/bundles/latin-america-thumbnail.jpg'
        description:
          type: string
          description: The bundle's description
          example: 'A conglomeration of renewable energy projects around the world'
        disabled:
          type: boolean
          example: false
          description: |
            Disabled bundles do not accept orders
        available_quantity:
          type: string
          description: |
            Quantity of CO2 offsets available to purchase (in tonnes).

            If available_quantity is not set, assume there is an unlimited amount of offsets to purchase.
          pattern: '^[0-9]+(\.[0-9]+)?$'
          example: '1000.09'
        offset_type:
          type: string
          description: |
            Offset type classification
          enum:
            - emissions_reduction
            - carbon_removal
          example: 'emissions_reduction'
        carbon_permanence:
          type: string
          description: The bundle's carbon storage permanence.
          enum:
            - long_term
            - short_term
          example: 'long_term'
    Bundle:
      description: |
        Group of projects of similar price and characteristics.

        Orders are placed against bundles.
      allOf:
        - $ref: '#/components/schemas/BundleSummary'
        - type: object
          required:
            - projects
          properties:
            projects:
              type: array
              description: Array of projects that belong to the bundle
              items:
                $ref: '#/components/schemas/ProjectSummary'
    PaginatedProjects:
      allOf:
        - $ref: '#/components/schemas/PaginatedBase'
        - type: object
          required:
            - data
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/Project'
    Media:
      type: object
      required:
        - type
        - url
      properties:
        type:
          type: string
          enum: 
            - image
            - video
          example: 'image'
          description: The type of the media item
        url:
          type: string
          example: https://assets.lune.co/bundles/biochar.png
          description: The URL of the media item
    ProjectSummary:
      type: object
      required:
        - id
        - name
        - short_name
        - slug
        - description
        - project_type
        - registry_name
        - latitude
        - longitude
        - country_name
        - country_code
        - disabled
      properties:
        id:
          type: string
          example: 'owda1kVEl60jnPykZeADr57Z8OqbKMXx'
          description: The projects's unique identifier
        name:
          type: string
          description: The project's name
          example: 'Alto Mayo'
        short_name:
          type: string
          description: The project's short name. May coincide with name.
          example: 'Alto Mayo'
        slug:
          type: string
          description: Project slug
          example: 'alto-mayo'
        description:
          description: Project description
          type: string
        project_type:
          type: string
          description: The project's offset type, eg Forest conservation, Afforestation, Direct Air Capture
          example: 'Forest conservation'
        registry_name:
          type: string
          description: The project's Verification Standard Entity name or equivalent organization.
          example: 'Verified Carbon Standard'
        registry_link:
          type: string
          description: A link to the registry's project details page.
          example: 'https://registry.verra.org/app/projectDetail/VCS/1566'
        latitude:
          type: number
          format: float
          description: Latitude
          example: '-5.87798'
        longitude:
          type: number
          format: float
          description: Logitude
          example: '-77.612352'
        country_name:
          type: string
          description: The project's country
          example: 'Peru'
        country_code:
          type: string
          description: The project's 3 character country code
        region:
          type: string
          description: The project's region
          example: 'Huancavelica'
        logo:
          type: string
          description: A project logo image URL
          example: 'https://assets.lune.co/projects/Alto+Mayo+1+logo.png'
        primary_image:
          type: string
          description: A project image URL
          example: 'https://assets.lune.co/projects/Alto+Mayo+1.png'
        thumbnail_image:
          type: string
          description: A project thumbnail image URL
          example: 'https://assets.lune.co/projects/Alto+Mayo+1_thumbnail.png'
        results:
          description: Project results
          type: array
          items:
            type: string
          example: ['Reduced deforestation of 75% from baseline levels, the first time a project in Peru reaches such high results', 'Co-benefits include: poverty reduction across local communities, education around sustainable farming, conservation of biodiversity']
        un_sdg:
          description: |
            UN Sustainable Development Goals.

            Each number in the array represent one UN Sustainable Development Goal. See https://sdgs.un.org/goals.
          type: array
          items:
            type: number
          example: [1, 4, 8, 13, 15]
        disabled:
          type: boolean
          example: false
          description: |
            Disabled projects do not get allocated to orders
        media: 
          type: array
          items: 
            $ref: '#/components/schemas/Media'
          description: A list of images and videos belonging to the project.
    Project:
      allOf:
        - $ref: '#/components/schemas/ProjectSummary'
        - type: object
          required:
            - bundles
          properties:
            bundles:
              type: array
              description: Array of bundles the project is part of
              items:
                $ref: '#/components/schemas/BundleSummary'
    AccountScope:
      type: string
      description: |
          The account's scope.

          Determines if the resource is a regular account or a client account.
      enum:
        - account
        - client_account
      example: 'account'
    AccountType:
      type: string
      description: |
          The account's type.

          See the <a href="#section/Live-and-test-accounts">Live and test accounts section</a> for details.
      enum:
        - live
        - test
      example: 'live'
    AccountBase:
      type: object
      required:
        - id
        - name
        - organisation_id
        - currency
        - balance
        - balance_outstanding
        - type
      properties:
        id:
          type: string
          example: 'ljmkOq7vXd239gAE9WALWQ8ZGVD5ExNz'
          description: The Account's unique identifier
        name:
          type: string
          description: The Account's name
          example: 'Acme Corporation'
        organisation_id:
          type: string
          description: The unique identifier of the organisation this account belongs to
          example: 'VndoQ0PZjGMzvYOZGwqy6kbgN1eOJx9B'
        currency:
          type: string
          description: The Account's currency
          example: 'GBP'
        balance:
          type: string
          description: |
            Account's cash balance.

            Unit: Account currency
          pattern: '^[0-9]+(\.[0-9]+)?$'
          example: '23.50'
        balance_outstanding:
          type: string
          description: |
            The Account's outstanding balance. It is the sum of placed and unpaid orders.

            The outstanding balance is mostly negative.

            Unit: Account currency
          pattern: '^-?[0-9]+(\.[0-9]+)?$'
          example: '-132.50'
        type:
          $ref: '#/components/schemas/AccountType'
        logo:
          type: string
          description: |
            Offset link logo URL

            This is the logo URL that appears on the first screen of the offset links flow.
        beneficiary:
          type: string
          description: |
            Retirement beneficiary

            This is the name that appears on future retirements that are made in this account.
            If none is present, the organisation beneficiary will be used instead.
          minLength: 1
        bundle_mix_id:
          type: string
          description: Bundle mix id tied to the account.
          example: 'Jvhh30a6272NauKv92J7FG1c6Jfxd2E1'
    CumulativeBundleAnalytics:
      type: array
      items:
        $ref: '#/components/schemas/AnalyticsByBundle'
    AnalyticsByBundle:
      type: object
      required:
        - bundle_id
        - bundle_name
        - timeseries
      properties:
        bundle_id:
          type: string
          description: The bundle's unique identifier
          example: va1BEV2VZqnzPkYxJgALg0GeQDoXlWO5
        bundle_name:
          type: string
          description: The bundle's name
          example: 'Latin America Forestry'
        timeseries:
          $ref: '#/components/schemas/QuantityAndValueTimeseries'
    QuantityAndValueTimeseries:
      type: array
      items:
        type: object
        required:
          - date
          - quantity
          - value
        properties:
          date:
              type: string
              format: date
              example: "2021-09-09"
          value:
            type: string
            example: '222.667'
            pattern: '^[0-9]+(\.[0-9]+)?$'
          quantity:
[...]
